body {
    background-color: #4a8864;
}
    
.cabecalho {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cabecalho .container{
    display: flex;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 150px;
}

.cabecalho_logoPicpro img{
    width: 100%;
    max-width: 140px;
}
.cabecalho .cabecalho_logoPicpro {
    border-right: 1px solid #fff;
    margin-right: 15px;
}
.secaoDetalhesConta {
    color: #fff;
    padding: 60px 0 30px;
}
.secaoDetalhesConta_sobreUsuario {
    display: flex;
    
}
.secaoDetalhesConta_sobreUsuario p{
    font-size: 18px;
    margin-left: 10px ;
}
.secaoDetalhesConta_sobreUsuario img{
    width: 100%;
    max-width: 50px;

}
.secaoDetalhesConta_sobreUsuario p strong{
    display: block;
    font-weight: bold;
}
.secaoDetalhesConta_sobreSaldo {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.secaoDetalhesConta_sobreSaldo p {
    font-size: 18px;
    line-height: 22px;
}
.secaoDetalhesConta_sobreSaldo p strong {
    display: block;
    font-weight: 600;
}
.secaoDetalhesConta_sobreSaldo button {
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}
.secaoDetalhesConta__opcoesTransacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.secaoDetalhesConta__opcoesTransacoes li {
    background-color: #1f6f54;
    width: 170px;
    height: 177px;
    border-radius: 15px;
    padding: 40px 20px;

}
.secaoDetalhesConta__opcoesTransacoes li img {
    width: 100%;
    max-width: 35px;
}
.secaoDetalhesConta__opcoesTransacoes li p {
    line-height: 22px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    width: 50px;
}
.secaoTransacoes {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    border-bottom: 15px solid #F0F0F0;
    padding: 30px 0;
}
.secaoTransacoes .container div{
    display: none;
}
.secaoTransacoes .container div.mostrar {
    display: block;
}


.secaoTransacao_avisoSelecao p {
    font-size: 25px;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.secaoTransacao_avisoSelecao img {
    width: 100%;
    margin: 30px 0 90px;
}
.secaoTransacao_QrCode {
    text-align: center;

}
.secaoTransacao_QrCode img {
    max-width: 180px;
}
.secaoTransacao_QrCode p{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 20;
}

.secaoTransacao_QrCode button {
    background-color: #4a8864 ;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
    cursor: pointer;
}

.secaoTransacao_QrCode a {
    display: block;
    color: #000;
    font-weight: bold;
}

.secaoTransacao_Pix img {
    width: 100%;
    max-width: 150px;
}
.secaoTransacao_boxOpcao {
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d2;
    max-width: 500px;
    padding: 14px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0; 
}


.secaoTransacao_boxOpcao img {
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
    
}

.secaoTransacao_boxOpcao p {
    font-size: 16px;
    line-height: 20px;
}

.secaoTransacao_boleto img {
    width: 100%;
    max-width: 80px;
}

.secaoTransacao_boleto h2{
    font-size: 20px;
    font-weight: 600;
}
.secaoTransacao_boleto input {
    padding: 0 80px;
    width: 100%;
    background-color: #f4f4f4;
    font-size: 16px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: #000;
    box-sizing: border-box;
}
.secaoTransacao_boleto p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
    
}

.secaoTransacao__cobrar img {
    width: 100%;
    max-width: 80px;
}
.secaoTransacao__cobrar h2 {
    font-size: 20px;
    font-weight: 600;
}
.secaoTransacao__cobrar p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}
.secaoTransacao__cobrar .secaoTransacao_boxOpcao p {
    margin-left: 10px;
}

.rodape {
    background-color: #fff;
 }

 .rodape__menuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .rodape__menuPrincipal li {
    text-align: center;
 }

 .rodape__menuPrincipal li a {
    color: #000;
    text-decoration: none;
 }

 .rodape__menuPrincipal li a img {
    width: 100%;
    max-width: 40px;

 }
 .rodape__menuPrincipal li a p {
        margin-top: 20px;
 }

 .rodape__menuItem--Pagar {
     transform: translateY(-35px);
     
 }
 .rodape__menuPrincipal .rodape__menuItem--Pagar a img {
     max-width: 80px;
 }